.card {
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0px 1px 4px rgba(0, 45, 66, 0.45);
	padding: 5px;
	margin-bottom: 5px;
	line-height: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.edit-form {
		width: 100%;

		input {
			background-color: #fff;
		}
	}

	span {
		cursor: text;
	}

	img.close {
		cursor: pointer;
		display: none;
	}

	&:hover {
		img {
			display: block;
		}
	}
}